@model IEnumerable<TwitchBot.Models.TwitchLibrary.Account>

<table class="table">
	<tr>
		<th>
			@Html.DisplayNameFor(model => model.ChannelName)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.TwitchOAuth)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.IsEnabled)
		</th>
		<th></th>
	</tr>

	@if (Model != null)
	{
		foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.ChannelName)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.TwitchOAuth)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.IsEnabled)
				</td>
				<td>
					@Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
					@Html.ActionLink("Details", "Details", new { id = item.Id }) |
					@Html.ActionLink("Delete", "Delete", new { id = item.Id })
					@using (Ajax.BeginForm("StartStop", new { id = item.Id, IsEnabled = item.IsEnabled }, new AjaxOptions { UpdateTargetId = "results" }))
					{
						if (item.IsEnabled)
						{
							<input type="submit" value="Stop" />
						}
						else
						{
							<input type="submit" value="Start" />
						}
					}
				</td>
			</tr>
		}
	}

</table>